body {
  position: center;
  top: 0;
  left: 0;
  margin: auto;
  padding: 20px;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
}

.header {
  font: 25px 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

table {
  margin: auto;
  position: center;
  table-layout: auto;
  width: 80%;
  border: 3px solid #383838;
  padding: 10px;
  border-radius:10px;
}

td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width:200px;
  height: 50px;
  text-align: center;
  
}

th {
 
  font: 20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.add-form {
  margin: auto;
  width: 50%;
  border: 3px solid #383838;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.edit-link{
  margin: auto;
  width: 50%;
 text-align: center;
  padding: 10px;

}

input{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
}
select {
  
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
  
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.add-button {
  background-color: #383838; /* Green */
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}